fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
PyYAML==6.0.2
python-multipart==0.0.20

openvino==2026.1.0
openvino-genai==2026.1.0.0
optimum==1.26.1
optimum-intel==1.24.0
nncf==2.19.0

huggingface-hub==0.34.4
fsspec>=2023.1.0,<=2025.3.0

numpy==1.26.4
torch==2.8.0
transformers==4.52.4
tokenizers==0.21.4
safetensors==0.6.2
sentence-transformers==3.0.1

langchain-chroma>=0.2.5
langchain-core>=0.3.74
chromadb>=1.0.20
openvino-tokenizers
